:root {
  --background-color: #f5f5f5;
  --text-color: #444;
  --green-color: #357937;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Avenir, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  /* &.dark-mode {
    --background-color: var(--green-color);
    --text-color: #f5f5f5;
  } */
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

h1 {
  /* font-size: 2.5rem; */
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}


.background-image-scroll {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;

  &#one {
    background-image: url('images/IMG_2915.jpeg');
  }
  &#two {
    background-image: url('images/IMG_8149.png');
  }
  
  &#three {
    background-image: url('images/2F921D37-9588-4C87-BC78-5B31366B9160.png');
  }
}

.info {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 0;
}



.backyard {
  color: var(--background-color);;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--green-color);
  .pool {
    position: relative;
    top: 4rem;
    left: 4rem;
    width: 750px;
    height: 500px;
    border-radius: 2rem;
    &::after {
      content: '';
      background-color: lightgrey;
      border-radius: 2rem;
      position: absolute;
      inset: -2rem;
      z-index: 1;
    }
    .wave {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      border-radius: 2rem;
    }

    .floatie-link {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      will-change: transform;
    }
  }

  .deck {
    position: relative;
    width: 500px;
    .info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &.revealed {
        opacity: 1;
      }
    }
  }
}
